__pycache__
*.pyc
.env
.venv
superenv/
.DS_Store
venv/
/.vscode
/.codesandbox

## GUI IGNORE

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
.next/
/out/

# production
/build

# misc
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# docker
.docker/docker.env
.docker/data/

# supabase
v2.code-workspace


## IDE IGNORE

.idea
