fastapi[all]
uvicorn[standard]
gunicorn
langchain
openai
requests
python-dotenv
python-decouple
pydantic
sse-starlette
unstructured
prisma
bcrypt
pyjwt
ruff
black
uuid
flake8
pinecone-client
tiktoken
pypdf
