# Base (mandatory)
OPENAI_API_KEY=
DATABASE_URL=
DATABASE_MIGRATION_URL=
JWT_SECRET=
# Mandatory for running Open Source LLMs
OPENROUTER_API_KEY=
# Mandatory for Neon DB
DATABASE_SHADOW_URL= 
# Memory (mandatory)
MEMORY=motorhead
# Redis Memory
REDIS_MEMORY_URL=redis://localhost:6379/0
REDIS_MEMORY_WINDOW=10
# Motorhead Memory
MEMORY_API_URL=https://memory.superagent.sh
# NOTE: Vectorstores (one is mandatory if you plan on loading datasources)
VECTORSTORE=pinecone # `qdrant`, `weaviate` etc.
# Qdrant vars
QDRANT_API_KEY=
QDRANT_HOST=
QDRANT_INDEX=superagent
# Weaviate vars
WEAVIATE_API_KEY=
WEAVIATE_INDEX=superagent
WEAVIATE_URL=
# Pinecone vars
PINECONE_ENVIRONMENT=
PINECONE_API_KEY=
PINECONE_INDEX=
# Astra vars
ASTRA_DB_ID=
ASTRA_DB_REGION=
ASTRA_DB_APPLICATION_TOKEN=
ASTRA_DB_COLLECTION_NAME=
ASTRA_DB_KEYSPACE_NAME=

# Supabase vars
SUPABASE_DB_URL= # e.g. postgresql://janedoe:mypassword@localhost:5432/mydb
SUPABASE_TABLE_NAME= # e.g. superagent

# E2B (code execution)
E2B_API_KEY=e2b_21b611cdf96fad06a6a819708734be20cfe8b777
# Replicate LLM/tool
REPLICATE_API_TOKEN=
# AgentOps session tracking
AGENTOPS_API_KEY=
AGENTOPS_ORG_KEY=843bf677-e691-45ad-97cf-909e99f9ad83
# Langfuse tracing
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=https://cloud.langfuse.com
# Langsmith tracing
LANGCHAIN_TRACING_V2=False
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=
LANGSMITH_PROJECT_ID=
# Agentops tracking
AGENTOPS_API_KEY=
AGENTOPS_ORG_KEY=
# Finetunes
LAMINI_API_KEY=
# Tracking
SEGMENT_WRITE_KEY=
# Subscriptions
STRIPE_SECRET_KEY=

