# ######################################
# # SUPERAGENT API - POSTGRES DB SETUP #
# ######################################
# Mandatory
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB_PORT=5432
POSTGRES_DB_HOST=pgdb
# Reccomended but Optional - needed if using docker-compose.pgadmin.yml
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=local123

#########################
# SUPERAGENT API CONFIG #
#########################

# Base (mandatory)
SUPERAGENT_API_URL=https://api.beta.superagent.sh
SUPERRAG_API_URL="https://rag.beta.superagent.sh/api/v1"
OPENAI_API_KEY=
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_DB_HOST}:${POSTGRES_DB_PORT}/superagent
DATABASE_MIGRATION_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_DB_HOST}:${POSTGRES_DB_PORT}/superagent
JWT_SECRET=ksw9toxa0so0mz2lyaudrb8g2q3dp38dcm5znxv7
# Mandatory for running Open Source LLMs
OPENROUTER_API_KEY=
# Mandatory for Neon DB
DATABASE_SHADOW_URL= 
# Memory (mandatory)
MEMORY=motorhead
MEMORY_API_URL=http://motorhead:8081
# Redis memory
REDIS_MEMORY_URL=redis://localhost:6379/0
REDIS_MEMORY_WINDOW=10
# NOTE: Vectorstores (one is mandatory if you plan on loading datasources)
VECTORSTORE=pinecone # `qdrant`, `weaviate` etc.
# Qdrant vars
QDRANT_API_KEY=
QDRANT_HOST=
QDRANT_INDEX=superagent
# Weaviate vars
WEAVIATE_API_KEY=
WEAVIATE_INDEX=superagent
WEAVIATE_URL=
# Pinecone vars
PINECONE_ENVIRONMENT=
PINECONE_API_KEY=
PINECONE_INDEX=
# Astra vars
ASTRA_DB_ID=
ASTRA_DB_REGION=
ASTRA_DB_APPLICATION_TOKEN=
COLLECTION_NAME=
KEYSPACE_NAME=
# E2B (code execution)
E2B_API_KEY=e2b_21b611cdf96fad06a6a819708734be20cfe8b777
# Replicate LLM/tool
REPLICATE_API_TOKEN=
# AgentOps session tracking
AGENTOPS_API_KEY=
AGENTOPS_ORG_KEY=843bf677-e691-45ad-97cf-909e99f9ad83
# Langfuse tracing
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=https://cloud.langfuse.com
# Langsmith tracing
LANGCHAIN_TRACING_V2=False
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=
LANGSMITH_PROJECT_ID=
# Finetunes
LAMINI_API_KEY=
# Tracking
SEGMENT_WRITE_KEY=
# Subscriptions
STRIPE_SECRET_KEY=


###############################
# SUPERAGENT UI - SUPABASE DB #
###############################

SUPABASE_DB_URL=postgresql://postgres:postgres-password@supabase-db:5433/postgres
SUPABASE_HOST=supabase-kong
SUPABASE_PORT=8000

##########################
# SUPERAGENT UI - CONFIG #
##########################

NEXT_PUBLIC_SUPABASE_URL=http://${SUPABASE_HOST}:${SUPABASE_PORT}
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJyb2xlIjogImFub24iLAogICJpc3MiOiAic3VwYWJhc2UiLAogICJpYXQiOiAxNzAwOTU2ODAwLAogICJleHAiOiAxODU4ODA5NjAwCn0.pDb5AEqK2KN5ItaveoB2gl-t1nXJ6MGN0wMSZtvEc1o
SUPABASE_ACCESS_TOKEN=sbp_e7d2d3cb82e39105bad37ce21eade8aef6b014c9
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NEXT_PUBLIC_SUPERAGENT_API_URL="http://superagent-api:8080/api/v1"
NEXT_PUBLIC_SUPABASE_STORAGE_NAME="superagent"

# Tracing
NEXT_PUBLIC_SEGMENT_WRITE_KEY="6tOuMx1B790SNrcHhd7WQbciZVEK00BY"

# Optional for connecting to external datasources
NEXT_PUBLIC_APIDECK_API_KEY=
NEXT_PUBLIC_APIDECK_API_ID=

# Optional for adding billing
NEXT_PUBLIC_STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_STRIPE_DARK_PRICING_TABLE_ID=
NEXT_PUBLIC_STRIPE_LIGHT_PRICING_TABLE_ID=
NEXT_PUBLIC_STRIPE_HOBBY_PLAN=
NEXT_PUBLIC_STRIPE_PRO_PLAN=

# For handling billing updates
SUPABASE_SERVICEROLE_KEY= 

# Optional for Langfuse
NEXT_PUBLIC_LANGFUSE_PUBLIC_KEY=pk-lf-d77d7858-858d-4218-9987-9498da4cb249
NEXT_PUBLIC_LANGFUSE_BASE_URL=

# Optional for Posthog tracking
NEXT_PUBLIC_POSTHOG_HOST=
NEXT_PUBLIC_POSTHOG_KEY=

# Optional for sending events to Loops
LOOPS_API_KEY=

# Optional for SuperRag (https://github.com/superagent-ai/super-rag) 
SUPERRAG_API_URL= # e.g. http://localhost:1234/api/v1