######################
## Docker netwoking ##
######################
NETWORK_MODE=supabase_network_ui

#############################
## Superagent API Database ##
#############################
# postgres db login details, use in connection string e.g DATABASE_URL=postgresql://admin:password@pgdb:5432/superagent, http://pgdb:5432, or postgresql://admin:password@localhost:5432/superagent
DBUSER=admin
DBPASS=password
DBNAME=superagent

# Login details for pgadmin, http://localhost:5050 / http://pgadmin:5050
PGADMIN_DEFAULT_EMAIL=dev@superagent.sh
PGADMIN_DEFAULT_PASSWORD=password

