# Mandatory
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB_PORT=5432
POSTGRES_DB_HOST=pgdb
# Reccomended but Optional - needed if using docker-compose.pgadmin.yml
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=local123