NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NEXT_PUBLIC_SUPERAGENT_API_URL="http://127.0.0.1:8000/api/v1"
NEXT_PUBLIC_SUPABASE_STORAGE_NAME="superagent"

# Optional for connecting to external datasources
NEXT_PUBLIC_APIDECK_API_KEY=
NEXT_PUBLIC_APIDECK_API_ID=

# Optional for adding billing
NEXT_PUBLIC_STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Optional for Langfuse
NEXT_PUBLIC_LANGFUSE_PUBLIC_KEY=
NEXT_PUBLIC_LANGFUSE_BASE_URL=