# Network mode: Default docker network = 'superagent_default', same as not setting network mode:
# Set "host" - simulate running the services on localhost [Not supported in Docker Desktop (win or mac), supported on linux, and windows with Rancher Desktop docker daemon]
# Set 'your_custom_network_name' - option to use a custom network name to support cloud environments, replace with the actual network name
NETWORK_MODE=superagent_default

# postgres db login details, use in connection string e.g DATABASE_URL=postgresql://admin:password@pgdb:5432/superagent, http://pgdb:5432, or postgresql://admin:password@localhost:5432/superagent
DBUSER=admin
DBPASS=password
DBNAME=superagent

# Login details for pgadmin, http://localhost:5050 / http://pgadmin:5050
PGADMIN_DEFAULT_EMAIL=dev@superagent.sh
PGADMIN_DEFAULT_PASSWORD=password
